body {
    background-color: #992C2C;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


h1, .titolo {
    color: #FFD700;
    text-align: center;
    font-size: 3em;
    margin-top: 30px;
}


.testo-speciale {
    text-align: center;
    font-size: 1.2em;
    margin: 20px 40px;
    line-height: 1.6;
}

.logo img {
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 200px;
}


h2 {
    text-align: center;
    font-size: 2em;
    margin-top: 40px;
}

.lista-giocatori {
    list-style-type: square;
    max-width: 400px;
    margin: 0 auto;
    padding-left: 20px;
    font-size: 1.1em;
}

.squadra-img {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.squadra-img img {
    max-width: 90%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


.link {
    text-align: center;
    margin: 30px 0;
}

.link a {
    color: #FFD700;
    font-weight: bold;
    text-decoration: none;
}

.link a:hover {
    text-decoration: underline;
}
